<div class="latest-movie-bar d-flex justify-content-between align-items-center col-md-10 col-12 mx-auto">
  <div class="latest-movie-first-sec d-flex justify-content-between align-items-center" style="width: 220px;">
    <span style="color: #3742fa; font-size: 1.5rem;"><i class="fa-solid fa-lines-leaning"></i></span>
    <span>Latest Movies Added</span>
  </div>
  <div class="latest-movie-second-sec">
    <button type="button" class="btn btn-outline-dark">Page 1</button>
  </div>
</div>

<div id="first-page" class="d-flex justify-content-between align-items-center col-md-10 col-12 mx-auto mt-5 flex-wrap">
  
    <a href="/post/game-of-thrones-2014">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/Game-Of-Thrones-2014.jpg">
    <p>Game Of Thrones 2014 HQ Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
  </a>
  <a href="/post/Three-Of-Us-2023">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/Three-Of-Us-2023.jpg">
    <p>Three Of Us 2023 HQ S Print Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
  </a>
  <a href="/post/game-of-thrones-2013">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/Game-Of-Thrones-2013.jpg">
    <p>Game Of Thrones 2013 HQ Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
  </a>
    <a href="/post/The-Lady-Killer-2023">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/The-Lady-Killer-2023.jpg">
    <p>The Lady Killer 2023 HQ Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
   </a>
   
  
  <a href="/post/game-of-thrones-2013">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/Game-Of-Thrones-2013.jpg">
    <p>Game Of Thrones 2013 HQ Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
  </a>
    <a href="/post/game-of-thrones-2014">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/Game-Of-Thrones-2014.jpg">
    <p>Game Of Thrones 2014 HQ Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
  </a>
    <a href="/post/The-Lady-Killer-2023">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/The-Lady-Killer-2023.jpg">
    <p>The Lady Killer 2023 HQ Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
   </a>
  <a href="/post/Three-Of-Us-2023">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/Three-Of-Us-2023.jpg">
    <p>Three Of Us 2023 HQ S Print Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
  </a>
   
  
    <a href="/post/The-Lady-Killer-2023">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/The-Lady-Killer-2023.jpg">
    <p>The Lady Killer 2023 HQ Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
   </a>
  <a href="/post/game-of-thrones-2013">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/Game-Of-Thrones-2013.jpg">
    <p>Game Of Thrones 2013 HQ Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
  </a>
  <a href="/post/Three-Of-Us-2023">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/Three-Of-Us-2023.jpg">
    <p>Three Of Us 2023 HQ S Print Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
  </a>
    <a href="/post/game-of-thrones-2014">
  <div class="movie-box">
    <img src="https://myimg.click/images/2023/11/05/Game-Of-Thrones-2014.jpg">
    <p>Game Of Thrones 2014 HQ Hindi Full Movie Download 1080p 720p 480pHQ</p>
  </div>
  </a>
   
</div>

<div class="footer-pages-btn d-flex justify-content-center align-items-center col-md-10 col-12 mx-auto mt-4">
  <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-outline-secondary">1</button>
    <button type="button" class="btn btn-outline-secondary">2</button>
    <button type="button" class="btn btn-outline-secondary">3</button>
    <button type="button" class="btn btn-outline-secondary">4</button>
  </div>
</div>

</div>