<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid col-md-10 col-12 mx-auto">
    <a class="navbar-brand" href="/">STOMILAR</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="header-items d-flex justify-content-center align-items-center col-md-10 col-12 mx-auto p-4 flex-wrap">
 <a href="/"><button type="button" class="btn btn-outline-dark">Home</button></a>
  <button type="button" class="btn btn-outline-dark">Bollywood 480P</button>
  <button type="button" class="btn btn-outline-dark">Bollywood 720P</button>
  <button type="button" class="btn btn-outline-dark">Hollywood 480P</button>
  <button type="button" class="btn btn-outline-dark">Hollywood 720P</button>
  <button type="button" class="btn btn-outline-dark">Punjabi</button>
  <button type="button" class="btn btn-outline-dark">Bhojpuri</button>
  <button type="button" class="btn btn-outline-dark">Telgu</button>
  <button type="button" class="btn btn-outline-dark">Tollywood</button>
  <button type="button" class="btn btn-outline-dark">Web Series</button>
  <button type="button" class="btn btn-outline-dark">Tv Show</button>
</div>