<div class="welcome-banner d-flex justify-content-center align-items-center mx-auto border p-4 mt-2 mb-3 flex-column">
 <h2>STOMILAR : Welcome to the official website</h2>
 <p>Just a faster and better place to download movies in 480p, 720p, 1080p!</p>
 <div class="wel-ban-box d-flex justify-content-center align-items-center mt-2">
   <p class="m-0 p-0">IMPORTANT: Stomilar.games Is The Only New official Domain Of Bolly4u</p>
 </div>
</div>