<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Website | stomilar</title>
    <link rel="icon" type="image/png" href="//stafilar.site/cdn/shop/files/Picsart_23-06-23_03-53-00-403_5b9d412c-f6ef-4b0a-b56c-b36a8686a6cd.jpg?crop=center&height=32&v=1696432781&width=32">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
{{>header}}
<!-- POST HEADING -->
<div class="latest-movie-bar d-flex justify-content-between align-items-center col-md-10 col-12 mx-auto">
  <div class="latest-movie-first-sec d-flex justify-content-between align-items-center" style="width: auto;">
    <span style="color: #3742fa; font-size: 1.5rem; margin-right: 20px;"><i class="fa-solid fa-lines-leaning"></i></span>
    <span>Game Of Thrones 2014 WEB-DL Hindi Dual Audio ORG S04 Complete Download 720p 480p</span>
  </div>
</div>
<div id="post-section d-flex justify-content-center align-items-center flex-column col-md-10 col-12 mx-auto ">
  
  <div class="post-dates d-flex justify-content-between align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <p class="postCatogres m-0 p-0"># Hollywod</p>
  <p class="postDate m-0 p-0">- November 5, 2023</p>
</div>

<div class="postDes d-flex justify-content-between align-items-center col-md-10 col-12 mx-auto  text-center mt-2 p-4">
  <p class="m-0 p-0">Game Of Thrones 2014 WEB-DL H4ndi Dual Audio ORG S04 Complete Download Available in 1080p, 720p 480p. Game Of Thrones 2014 This WEB SERIES is Based on Action, Adventure, Drama. The Hollywood Game Of Thrones 2014 WEB-DL S04 WEB SERIES is Also Available Hindi Audio WEB-DL Quality Only On Bolly4u.</p>
</div>

<div class="postImage d-flex justify-content-center align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <img src="https://myimg.click/images/2023/11/05/Game-Of-Thrones-2014.jpg">
</div>

  <div class="postDetailes d-flex flex-column justify-content-center align-items-center col-md-10 col-12 mx-auto mt-2 mb-3 ">
    <p>
      <span class="posDeBlue"># IMDB Ratings : </span>
      <span class="posDeBlack">9.2/10</span>
      </p>
    <p>
      <span class="posDeBlue"># Genres : </span>
    <span class="posDeBlack">Action, Adventure</span>
    </p>
    <p>
      <span class="posDeBlue"># Creators : </span>
      <span class="posDeBlack">David Benioff, David Benioff, David Benioff</span>
      </p>
    <p>
      <span class="posDeBlue"># Stars Cast : </span>
      <span class="posDeBlack">Peter Dinklage, Lena Headey, Emilia Clarke</span>
      </p>
    <p>
      <span class="posDeBlue"># Languages : </span>
      <span class="posDeBlack">Hindi + English</span>
      </p>
    <p>
      <span class="posDeBlue"># Video Quality : </span>
      <span class="posDeBlack">WEB-DL 720p 480p</span>
      </p>
    <p>
      <span class="posDeBlue"># Film Story : </span>
      <span class="posDeBlack">Nine noble families fight for control over the lands of Westeros, while an ancient enemy returns after being dormant for a millennia.</span>
      </p>
  </div>
  
  <div class="postScreenShot d-flex justify-content-center align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <img src=" https://myimg.click/images/2023/11/05/Game-Of-Thrones-2014-S04E01-Bolly4u.org-WEB-DL-Dual-Audio-720p.jpg">
</div>

<div class="downloadLinks d-flex flex-column justify-content-center align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <div class="download-link-des mb-3">
    <p class="p-0 m-0">Free Download Full Movie Via Single Links</p>
  </div>
  <div class="download-links flex-wrap d-flex justify-content-center align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <button type="button" class="btn btn-outline-dark">1080P</button>
  <button type="button" class="btn btn-outline-dark">720P</button>
  <button type="button" class="btn btn-outline-dark">480p</button>
  <button type="button" class="btn btn-outline-dark">360P</button>
</div>
</div>

</div>

{{>footer}}

 <script src="/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>