<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Website | stomilar</title>
    <link rel="icon" type="image/png" href="//stafilar.site/cdn/shop/files/Picsart_23-06-23_03-53-00-403_5b9d412c-f6ef-4b0a-b56c-b36a8686a6cd.jpg?crop=center&height=32&v=1696432781&width=32">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
{{>header}}
<!-- POST HEADING -->
<div class="latest-movie-bar d-flex justify-content-between align-items-center col-md-10 col-12 mx-auto">
  <div class="latest-movie-first-sec d-flex justify-content-between align-items-center" style="width: auto;">
    <span style="color: #3742fa; font-size: 1.5rem; margin-right: 20px;"><i class="fa-solid fa-lines-leaning"></i></span>
    <span>The Lady Killer 2023 Pre DVDRip Hindi Full Movie Download 1080p 720p 480p</span>
  </div>
</div>
<div id="post-section d-flex justify-content-center align-items-center flex-column col-md-10 col-12 mx-auto ">
  
  <div class="post-dates d-flex justify-content-between align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <p class="postCatogres m-0 p-0"># Bollywood</p>
  <p class="postDate m-0 p-0">- November 5, 2023</p>
</div>

<div class="postDes d-flex justify-content-between align-items-center col-md-10 col-12 mx-auto  text-center mt-2 p-4">
  <p class="m-0 p-0">he Lady Killer 2023 Pre DVDRip Hindi Full Movie Download 1080p, 720p & 480p. The Lady Killer 2023 This is a Bollywood Movie and available in Hindi 1080p, 720p & 480p qualities. This is one of the best movies based on Biography, Crime. The Lady Killer 2023 HQ S Print Hindi Movie is also Available in Bollywood 300Mb Movies and Bollywood 720p Movies Only on Bolly4u.</p>
</div>

<div class="postImage d-flex justify-content-center align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <img src="https://myimg.click/images/2023/11/05/The-Lady-Killer-2023.jpg">
</div>

  <div class="postDetailes d-flex flex-column justify-content-center align-items-center col-md-10 col-12 mx-auto mt-2 mb-3 ">
    <p>
      <span class="posDeBlue"># IMDB Ratings : </span>
      <span class="posDeBlack">3.6/10</span>
      </p>
    <p>
      <span class="posDeBlue"># Genres : </span>
    <span class="posDeBlack">Crime, Drama, Mystery</span>
    </p>
    <p>
      <span class="posDeBlue"># Creators : </span>
      <span class="posDeBlack">Ajay Bahi</span>
      </p>
    <p>
      <span class="posDeBlue"># Stars Cast : </span>
      <span class="posDeBlack">Backagaindancer, Arjun Kapoor, Mrityunjay Pandey</span>
      </p>
    <p>
      <span class="posDeBlue"># Languages : </span>
      <span class="posDeBlack">Hindi</span>
      </p>
    <p>
      <span class="posDeBlue"># Video Quality : </span>
      <span class="posDeBlack">pre-DVD 720p 480p</span>
      </p>
    <p>
      <span class="posDeBlue"># Film Story : </span>
      <span class="posDeBlack">When a small-town playboy falls in love for a dangerous girl, they embark on a journey of a dangerous romance.</span>
      </p>
  </div>
  
  <div class="postScreenShot d-flex justify-content-center align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <img src="https://myimg.click/images/2023/11/05/The-Lady-Killer-2023-Bolly4u.org-Pre-DVDRip-Hindi-720p-950MB.jpg">
</div>

<div class="downloadLinks d-flex flex-column justify-content-center align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <div class="download-link-des mb-3">
    <p class="p-0 m-0">Free Download Full Movie Via Single Links</p>
  </div>
  <div class="download-links flex-wrap d-flex justify-content-center align-items-center col-md-10 col-12 mx-auto mt-3 mb-3 ">
  <button type="button" class="btn btn-outline-dark">1080P</button>
  <button type="button" class="btn btn-outline-dark">720P</button>
  <button type="button" class="btn btn-outline-dark">480p</button>
  <button type="button" class="btn btn-outline-dark">360P</button>
</div>
</div>

</div>

{{>footer}}

 <script src="/script.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>